<div class="main">
  <p><%= @nickname %>さんの予定一覧</p>

  <%# 現在時刻以降のスクジュールのみ取得 %>
    <p> --------------------------------- </p>
    <% @schedules.each do |schedule| %>
      <% if schedule.start_time.to_time > Date.today.to_time %> 
        <div class="user_wrapper">
          <p>
            <strong>日付 : </strong>
            <%= schedule.start_time.strftime("%Y-%m-%d")  %> 
          </p>
          
          <p>
            <strong>時間 : </strong>
            <%= schedule.start_time.strftime("%H:%M") %> <a>〜</a>
            <%= schedule.end_time.strftime("%H:%M") %>
          </p>

          <p>
            <strong>タイトル : </strong>
            <%= schedule.title %>
          </p>

          <p>
            <strong>内容 : </strong>
            <%= schedule.content %>
          </p>

          <p> --------------------------------- </p>
        </div>
      <% end %>
    <% end %> 

  <div class="submit">
    <%= link_to "戻る", root_path, class:"back-btn"%>
  </div>
</div>