<div class='form-header'>
  <h1 class='form-header-text'>
    <p><%= @nickname %>さんの予定一覧</p>
  </h1>
</div>
  

  <%# 現在時刻以降のスクジュールのみ取得 %>
  <% @schedules.each do |schedule| %>
    <% if schedule.start_time.to_time > Date.today.to_time %> 
      <p class="border-line"> ------------------------------------------------------------------------------- </p>
      
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">日付</label>
        </div>
        <p class="user-show-text">
          <%= schedule.start_time.strftime("%Y-%m-%d")  %> 
        </p>
      </div>

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">時間</label>
        </div>
        <p class="user-show-text">
          <%= schedule.start_time.strftime("%H:%M") %> <a>〜</a>
          <%= schedule.end_time.strftime("%H:%M") %>
        </p>
      </div>

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">使用する車</label>
        </div>
        <p class="user-show-text">
          <%= link_to Car.find(schedule.car_id).car_name, car_path(schedule.car_id), class:"schedule-show-link" %>
        </p>
      </div>

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">タイトル</label>
        </div>
        <p class="user-show-text">
          <%= schedule.title %>
        </p>
      </div>

    <% end %>
  <% end %>

  <div class="submit">
    <%= link_to '戻る', root_path, class:'back-btn' %>
  </div>
</div>
