<h1>スケジュール編集投稿</h1>

<%= form_with(model: @schedule, local: true) do |f| %>

<%= render 'shared/error_messages', model: f.object %>

  <div class="title">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="user-name">
    <%= f.label :user_time %>
    <%= ': ' + @schedule.user.nickname %>
  </div>

  <div class="start-time">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time %>
  </div>

  <div class="end-time">
    <%= f.label :end_time %>
    <%= f.datetime_select :end_time %>
  </div>

  <div class="car-name">
    <%= f.label :car_name %> 
    <%= f.collection_select(:car_id, Car.all, :id, :car_name, {}, {id:"car-name"}) %>
  </div>

  <div class="content">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>


  <div class="submit">
    <%= f.submit "変更する", class:"save-btn"%>
    <%= link_to "戻る", schedule_path(@schedule.id), class:"back-btn"%>
  </div>

<% end %>