<div class='form-header'>
  <h1 class='form-header-text'>
    スケジュール編集投稿
  </h1>
</div>

<%= form_with(model: @schedule, local: true) do |f| %>

<%= render 'shared/error_messages', model: f.object %>

  <div class="form-group">
    <div class="user-text-wrap">
      <label class="user-name">ユーザー名</label>
    </div>
    <div class="car-name">
      <%= @schedule.user.nickname %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-text-wrap">
      <label class="form-text">使用する車</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-car-wrap'>
      <%= f.collection_select(:car_id, Car.all, :id, :car_name, {prompt: "選択してください"}, {class:'car-select'} ) %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-text-wrap">
      <label class="form-text">開始時間</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-schedule-wrap'>
      <%= raw sprintf(
            f.datetime_select(:start_time, 
                {
                :use_month_numbers => true, 
                :minute_step => 10,
                date_separator: '%s',# 年, 月
                datetime_separator: '%s',# 日
                time_separator: '%s'
                }),
                '<p> 年 </p>', '<p> 月 </p>', '<p> 日 </p>', '<p> 時 </p>') + '<p> 分 </p>' %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-text-wrap">
      <label class="form-text">終了時間</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-schedule-wrap'>
      <%= raw sprintf(
            f.datetime_select(:end_time, 
                {
                :use_month_numbers => true, 
                :minute_step => 10,
                date_separator: '%s',# 年, 月
                datetime_separator: '%s',# 日
                time_separator: '%s'
                }),
                '<p> 年 </p>', '<p> 月 </p>', '<p> 日 </p>', '<p> 時 </p>') + '<p> 分 </p>' %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-text-wrap">
      <label class="form-text">予定</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :title, class:"input-default", id:"schedule-title"%>
  </div>

  <div class="form-group">
    <div class="form-text-wrap">
      <label class="form-text">内容</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :content, class:"input-default", id:"schedule-title"%>
  </div>


  <div class="submit">
    <%= f.submit "変更する", class:"save-btn"%>
    <%= link_to "戻る", schedule_path(@schedule.id), class:"back-btn"%>
  </div>

<% end %>