<p id="notice" class="notice"><%= notice %></p>

<%= render "shared/header" %>

<div class='event-car-add'>
<% if user_signed_in? %>
  <%= link_to 'イベント追加', new_schedule_path ,class: 'event-add' %>
  <%= link_to '車追加', new_car_path ,class: 'car-add' %>
<% end %>
</div>

<div class='schedule-lists'>
<%= month_calendar events: @schedules do |date, schedules| %>
  
  <div class='schedule-month'><%= date.day %></div>

  <div>
  <% schedules.each do |schedule| %>
    <div>
      <%= schedule.user.nickname %>
      <%= link_to schedule.title, schedule_path(schedule.id), class: 'schedule-title'%>
      <br>
      <%= schedule.start_time.strftime("%H:%M") %> <a>〜</a>
      <%= schedule.end_time.strftime("%H:%M") %>
    </div>
  <% end %>
  </div>

<% end %>
</div>




