<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル : </strong>
  <%= @schedule.title %>
</p>


<p>
  <strong>名前 : </strong>
  <%= @schedule.user.nickname %>
</p>

<p>
  <strong>日付 : </strong>
  <%= @schedule.start_time.strftime("%Y-%m-%d") %> 〜
  <%= @schedule.end_time.strftime("%Y-%m-%d") %>
</p>

<p>
  <strong>時間 : </strong>
  <%= @schedule.start_time.strftime("%H:%M") %> <a>〜</a>
  <%= @schedule.end_time.strftime("%H:%M") %>
</p>

<p>
  <strong>使う車： </strong> 
  <%= link_to Car.find(@schedule.car_id).car_name %>
</p>

<p>
  <strong>内容 : </strong>
  <%= @schedule.content %>
</p>

<% if user_signed_in? && current_user.id == @schedule.user_id %>
  <%= link_to '編集', edit_schedule_path(@schedule.id) ,method: :get %> |
  <%= link_to '削除', schedule_path(@schedule.id), method: :delete, data: { confirm: 'Are you Sure?' } %> |
<% end %>
<%= link_to '戻る', root_path %>