<div class='form-header'>
  <h1 class='form-header-text'>
    車一覧
  </h1>
</div>

  <% @cars.each do |car| %>
    <p class="border-line"> ------------------------------------------------------------------------------- </p>
    
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">車名</label>
      </div>
      <p class="car-index-text">
        <%= link_to car.car_name, car_path(car.id), class:"car-index-link" %>
      </p>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">持ち主</label>
      </div>
      <p class="car-index-text">
        <%= car.user.nickname %>
      </p>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">車のナンバー</label>
      </div>
      <p class="car-index-text">
        <%= car.car_number %>
      </p>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">車種</label>
      </div>
      <p class="car-index-text">
        <%= car.car_model %>
      </p>
    </div>
  <% end %>

  <div class="submit">
    <%= link_to '戻る', root_path, class:'back-btn' %>
  </div>
</div>
